@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/*Over all styles*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --whitebg: #FEFBF6;
    --purple: #A66CFF;
    --darkerwhite: #F9F2ED;
    --bgfornav: #00000030; 
    --aqua: aqua; 
    --Jacketbrown: #DFBB9D;  
    --darkblue: #002B5B; 
}

.darkmode {
    background-color: var(--darkblue);
    color: var(--darkerwhite)
}

body {
    width: fit-content;
    height: max-content;
    background-color: var(--whitebg);
    display: flex;
}

/*The flip cards*/

/*Flip card Inside of #Hi*/

.flip-card-selfie {
    background-color: transparent;
    width: 40%;
    height: fit-content;
    perspective: 1000px; 
    padding-top: 1%;
    z-index: 4;
}

.flip-card-inner-selfie {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-selfie:hover .flip-card-inner-selfie {
    transform: rotateY(180deg);
    height: 300px;
}

.flip-card-front-selfie, .flip-card-back-selfie {
    position: absolute;
    width: 100%;
    height: fit-content;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-front-selfie {
    background-color: var(--whitebg);
    color: black;
    padding: 1%;
}

    /*This is for the img calls pic*/
    .flip-card-front-selfie > img {
        height: 350px;
    }

.flip-card-back-selfie {
    background-color: var(--Jacketbrown);
    color: var(--darkerwhite);
    transform: rotateY(180deg);
    line-height: 20%;
    padding: 1%;
}

    /*This is for the img calls pic*/
    .flip-card-back-selfie > img {
        height: 350px;
    }


/* The flip card - for who I am*/
.flip-card-WhoIam {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    padding-top: 3%;
    height: 350px;
  }
  
  .flip-card-inner-WhoIam {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card-WhoIam:hover .flip-card-inner-WhoIam {
    transform: rotateY(180deg);
    height: 100px;
  }
  
  .flip-card-front-WhoIam, .flip-card-back-WhoIam {
    position: absolute;
    width: 100%;
    height: fit-content;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front-WhoIam {
    background-color: var(--whitebg);
    color: black;
    padding: 3%;
    height: 350px;
  }

    /*This is for the img calls pic*/
    .flip-card-front-WhoIam > img {
        height: 350px;
    }
  
  .flip-card-back-WhoIam {
    background-color: var(--Jacketbrown);
    color: var(--darkerwhite);
    transform: rotateY(180deg);
    line-height: 20%;
    padding: 3%;
  }

/* The flip card - Job #1*/
.flip-card-loaals {
    background-color: transparent;
    width: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    padding-top: 3%;
    height: 100px;
  }
  
  .flip-card-inner-loaals {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card-loaals:hover .flip-card-inner-loaals {
    transform: rotateY(-180deg);
    height: 100px;
  }
  
  .flip-card-front-loaals, .flip-card-back-loaals {
    position: absolute;
    width: 100%;
    height: fit-content;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front-loaals {
    background-color: var(--whitebg);
    color: black;
    padding: 3%;
    ;
  }

    .flip-card-front-loaals > img {
        width: 100%;
        height: 200px;
    }
  
  .flip-card-back-loaals {
    background-color: var(--Jacketbrown);
    color: var(--darkerwhite);
    transform: rotateY(-180deg);
    padding: 3%;
  }

/* The flip card - Job #2*/

.flip-card-gototruckers {
    background-color: transparent;
    width: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    padding-top: 3%;
    height: 100px;
  }
  
  .flip-card-inner-gototruckers {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card-gototruckers:hover .flip-card-inner-gototruckers {
    transform: rotateY(-180deg);
    height: 100px;
  }
  
  .flip-card-front-gototruckers, .flip-card-back-gototruckers {
    position: absolute;
    width: 100%;
    height: fit-content;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front-gototruckers {
    background-color: var(--whitebg);
    color: black;
    padding: 3%;
    
  }
    .flip-card-front-gototruckers > img {
        width: 100%;
        height: 200px;
    }

  
  .flip-card-back-gototruckers {
    background-color: var(--Jacketbrown);
    color: var(--darkerwhite);
    transform: rotateY(-180deg);
    padding: 3%;
    height: fit-content;
  }



/*The loader*/

.loader {
    display: none;
}

.showloader-dad {
    position: fixed;
    z-index: 6;
}

.showloader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Jacketbrown);
    color: var(--darkerwhite);
    position: absolute;
    font-weight:bolder;
}

/*Beginning of the styles, for the biggest screens*/

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 130%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.container-everything {
    height: fit-content; 
    width: fit-content;
    border-radius: 3%;
    margin-left: 25%;
    margin-right: 15%;
    z-index: 5;
    
}

nav {
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    gap:5%;
    padding: 1%;
    position: fixed;
    width: 51%;
    background-color: var(--whitebg);
    border-radius: 30%;
    z-index: 5;
}

    .nav a:hover {
        color: var(--Jacketbrown);
        border-radius: 20%;
        transition: 1s;
    }
    
    .burger {
        visibility: hidden;
    }

#Hi {
    display: flex;
    justify-content: space-around;
    gap: 5%;  
    padding-top: 6%; 
    width: 100%;
}

    .worktitleandintroandsocial {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        width: 30%;
        text-align: center;
    }
    
        .worktitleandintroandsocial .worktitle {
            color: var(--Jacketbrown);
            
        }

        .worktitleandintroandsocial .introduction {
            padding-top: 20%;
            width: 50%;
        }

        .worktitleandintroandsocial .socialmedia {
            padding-top: 40%;
            display: flex;
            gap: 10%;
            align-content: center;
            width: 50%;
            
        }

        .worktitleandintroandsocial .contactmebuttons {
            padding-top: 3%;
            display: flex;
            justify-content: center;
            gap: 3%;
        }

            .Linkedinicon:hover {
               font-size: larger;
               color: var(--Jacketbrown);
            }

            .githubicon:hover {
                font-size: larger;
                color: var(--Jacketbrown);
            }

            .whatsappicon:hover {
                font-size: larger;
                color: var(--Jacketbrown);
            }


#Background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;  
    padding-top: 3%; 
    text-align: center;
    width: 100%;
    height: fit-content;
}
    

#Skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5%;  
    padding-top: 10%; 
    text-align: center;
}

    .container-of-skills {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2%;
    }

    .container-of-skills > img {
        height: 300px;
        width: 30%;
    }

#Experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5%;  
    padding-top: 5%; 
    text-align: center;
}

    .container-of-experience {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 3%;
    }


#Other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;  
    padding-top: 10%; 
    text-align: center;
    width: 100%;
}

    .theotherjobs {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 2%;
        width: 100%;
        height: fit-content;
    }


#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;  
    padding-top: 3%; 
    text-align: center;
    padding-bottom: 5%;
    padding-top: 20%;
}

    .contactmeicons {
        display: flex;
        justify-content: center;
        gap: 5%;
        padding-top: 2%;
    }

/*Styles for tablets and/or smaller monitors*/

@media (max-width: 1250px) {
   
    
    .container-everything {
        height: fit-content; 
        width: 80%;
        margin-left: 2%;
        margin-right: 0%;
        border-radius: 3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20%;
    }
    
    nav {
        display: flex;
        justify-content:left ;
        align-items: center;
        position: fixed;
        width: 80%;
        gap: 3%;
        background-color: var(--whitebg);
        border-radius: 30%;
    }

        .nav a:hover {
            color: var(--Jacketbrown);
            border-radius: 20%;
            transition: 1s;
        }

    #Hi {
        display: flex;
        justify-content: center;
        gap: 1%;  
        padding-top: 6%; 
        flex-direction: column;
        height: fit-content;
        width: 100%;
    
    }
        .selfie {
            display: flex;
            justify-content: flex-start;
            height: fit-content;
            width: fit-content;
            align-items: center;
            align-self:center;
        }

    
        .worktitleandintroandsocial {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
            width: 100%;
            text-align: center;
            
        }
        
            .worktitleandintroandsocial .worktitle {
                padding-top: 10%;
                font-size: larger;
            }
    
            .worktitleandintroandsocial .introduction {
                padding-top: 3%;
                width: 80%;
            }
    
            .worktitleandintroandsocial .socialmedia {
                padding-top: 3%;
                display: flex;
                gap: 10%;
                align-content: center;
                width: 50%;
            }
    
            .worktitleandintroandsocial .contactmebuttons {
                padding-top: 3%;
                display: flex;
                justify-content: center;
                gap: 3%;
            }
    
    #Background {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5%;  
        padding-top: 3%; 
        text-align: center;
        height: 400px;
    }

    #Skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 5%;  
        padding-top: 10%; 
        text-align: center;
    }
    
        .container-of-skills {
            display: flex;
            justify-content: space-evenly;
            padding-top: 2%;
        }
    
        .container-of-skills > img {
            height: 300px;
            width: 30%;
        }
    
                    

    #Other {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: center;
        width: 100%;
        height: fit-content;
    }
        
        .theotherjobs {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1%;
            margin-left: 5%;
            margin-right: 5%;
            align-items: flex-start;
            height: 450px;
        }

        /*The flip cards*/

        /*Flip card Inside of #Hi*/

        .flip-card-selfie {
            background-color: transparent;
            width: 100%;
            height: fit-content;
            perspective: 1000px; 
            padding-top: 1%;  
        }
        
        .flip-card-inner-selfie {
            position: relative;
            width: 100%;
            height: fit-content;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-selfie:hover .flip-card-inner-selfie {
            transform: rotateY(180deg);
            height: 500px;
        }
        
        .flip-card-front-selfie, .flip-card-back-selfie {
            position: absolute;
            width: 100%;
            height: fit-content;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-selfie {
            padding: 1%;
            height: 300px;
            position: absolute;
        }

            .flip-card-front-selfie > img {
                height: 300px;
                width: 100%;
            }
        
        .flip-card-back-selfie {
            transform: rotateY(180deg);
            padding: 1%;
            position: relative;
            background-color: transparent;
            
        }


        /* The flip card - for who I am*/
        .flip-card-WhoIam {
            background-color: transparent;
            width: 100%;
            height: fit-content;
            perspective: 1000px; 
            padding-top: 1%;
        }
        
        .flip-card-inner-WhoIam {
            position: relative;
            width: 100%;
            height: fit-content;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-WhoIam:hover .flip-card-inner-WhoIam {
            transform: rotateY(180deg);
            height: 100px;
        }
        
        .flip-card-front-WhoIam, .flip-card-back-WhoIam {
            position: absolute;
            width: 100%;
            height: fit-content;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-WhoIam {
            background-color: var(--whitebg);
            color: black;
            padding: 1%;
        }

            
        
        .flip-card-back-WhoIam {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(180deg);
            line-height: 20%;
            padding: 1%;
        }

        /* The flip card - Job #1*/
        .flip-card-loaals {
            background-color: transparent;
            width: 100%;
            perspective: 1000px; 
            padding-bottom: 3%;
            height: 250px;
        }
        
        .flip-card-inner-loaals {
            position: relative;
            width: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-loaals:hover .flip-card-inner-loaals {
            transform: rotateY(-180deg);
            height: 200px;
        }
        
        .flip-card-front-loaals, .flip-card-back-loaals {
            position: absolute;
            width: 100%;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-loaals {
            background-color: var(--whitebg);
            color: black;
        }

            .flip-card-front-loaals > img {
                width: 80%;
            }
        
        .flip-card-back-loaals {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(-180deg);
        }



        /* The flip card - Job #2*/

        .flip-card-gototruckers {
            background-color: transparent;
            width: 100%;
            perspective: 1000px; 
            padding-bottom: 3%;
           
        }
        
        .flip-card-inner-gototruckers {
            position: relative;
            width: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-gototruckers:hover .flip-card-inner-gototruckers {
            transform: rotateY(-180deg);
            height: 100px;
        }
        
        .flip-card-front-gototruckers, .flip-card-back-gototruckers {
            position: absolute;
            width: 100%;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-gototruckers {
            background-color: var(--whitebg);
            color: black;
        }

            .flip-card-front-gototruckers > img {
                width: 80%;
            }
        
        .flip-card-back-gototruckers {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(-180deg);
        }



}

/*Styles for cells*/

@media (max-width: 600px) {
    h2 {
        font-size: large;
    }

    p {
        line-height: 130%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }
    
    body {
        width: fit-content;
        height: max-content;
        background-color: var(--whitebg);
    }
    
    .container-everything {
        height: fit-content; 
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        border-radius: 3%;
    }
    
    header {
        width: 100%;
    }

    .nav__show {
        display: flex;
        flex-direction: column;
        justify-content:left;
        align-items: center;
        position: static;
        width: 100%;
        gap: 3%;
        
    }
    
    
    nav {
        display: none;
    }

        nav > ul {
            padding: 1%;
        }


        .burger {
            visibility: visible;
            align-self: center;
            display: block;
            width: 100%;
            text-align: center;
            font-size: xx-large;
            cursor: pointer;
        }

        

    #Hi {
        display: flex;
        justify-content: flex-start;
        gap: 1%;  
        padding-top: 1%; 
        flex-direction: column;
        margin-left: 1%;
        margin-right: 1%;
        height: 600px;
    }
       
        .selfie {
            display: flex;
            justify-content: flex-start;
            height: fit-content;
            width: fit-content;
            align-items: center;
            align-self:center;
        }

        .worktitleandintroandsocial {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
            width: 100%;
            text-align: center;
        }
        
            .worktitleandintroandsocial .worktitle {
                padding-top: 10%;
                
            }
    
            .worktitleandintroandsocial .introduction {
                padding-top: 3%;
                width: 100%;
            }
    
            .worktitleandintroandsocial .socialmedia {
                padding-top: 3%;
                display: flex;
                gap: 10%;
                align-content: center;
                width: 50%;
            }
    
            .worktitleandintroandsocial .contactmebuttons {
                padding-top: 3%;
                display: flex;
                justify-content: center;
                gap: 3%;
            }
    
    #Background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;  
        padding-top: 3%; 
        text-align: center;
        margin-left: 1%;
        margin-right: 1%;
        height: fit-content;
    }
                    
       

    #Other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;  
        padding-top: 8%; 
        text-align: center;
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
        
        /*The flip cards*/

        /*Flip card Inside of #Hi*/

        .flip-card-selfie {
            background-color: transparent;
            width: 100%;
            perspective: 1000px; 
            padding-top: 2%;
        }
        
        .flip-card-inner-selfie {
            position: relative;
            width: 100%;
            height: fit-content;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-selfie:hover .flip-card-inner-selfie {
            transform: rotateY(180deg);
            height: 400px;
        }
        
        .flip-card-front-selfie, .flip-card-back-selfie {
           /* position: absolute;*/
            width: 100%;
            height: fit-content;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-selfie {
            background-color: var(--whitebg);
            color: black;
            padding: 1%;
            width: 100%;
        }

            .flip-card-front-selfie > img {
                width: 100%;
            }
        
        .flip-card-back-selfie {
            background-color: transparent;
            color: var(--darkerwhite);
            transform: rotateY(180deg);
            padding: 1%;
        }


        /* The flip card - for who I am*/
        .flip-card-WhoIam {
            background-color: transparent;
            width: 100%;
            height: fit-content;
            perspective: 1000px; 
            padding-top: 1%;
        }
        
        .flip-card-inner-WhoIam {
            position: relative;
            width: 100%;
            height: fit-content;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-WhoIam:hover .flip-card-inner-WhoIam {
            transform: rotateY(180deg);
            height: 150px;
        }
        
        .flip-card-front-WhoIam, .flip-card-back-WhoIam {
            position: absolute;
            width: 100%;
            height: fit-content;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-WhoIam {
            background-color: var(--whitebg);
            color: black;
            padding: 1%;
        }
        
        .flip-card-back-WhoIam {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(180deg);
            line-height: 20%;
            padding: 1%;
        }

        /* The flip card - Job #1*/
        .flip-card-loaals {
            background-color: transparent;
            width: 100%;
            
            perspective: 1000px; 
            padding-bottom: 3%;
        }
        
        .flip-card-inner-loaals {
            position: relative;
            width: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-loaals:hover .flip-card-inner-loaals {
            transform: rotateY(-180deg);
            height: 200px;
        }
        
        .flip-card-front-loaals, .flip-card-back-loaals {
            position: absolute;
            width: 100%;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-loaals {
            background-color: var(--whitebg);
            color: black;
        }
        
        .flip-card-back-loaals {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(-180deg);
        }

        /* The flip card - Job #2*/

        .flip-card-gototruckers {
            background-color: transparent;
            width: 100%;
            perspective: 1000px; 
            padding-bottom: 3%;
        }
        
        .flip-card-inner-gototruckers {
            position: relative;
            width: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-gototruckers:hover .flip-card-inner-gototruckers {
            transform: rotateY(-180deg);
            height: 200px;
        }
        
        .flip-card-front-gototruckers, .flip-card-back-gototruckers {
            position: absolute;
            width: 100%;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-gototruckers {
            background-color: var(--whitebg);
            color: black;
        }
        
        .flip-card-back-gototruckers {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(-180deg);
            margin-left: 1%;
        }


        /* The flip card - Job #3*/

        .flip-card-entrepreneur {
            background-color: transparent;
            width: 100%;
            height: 80px;
            perspective: 1000px; 
            padding-bottom: 3%;
        }
        
        .flip-card-inner-entrepreneur {
            position: relative;
            width: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flip-card-entrepreneur:hover .flip-card-inner-entrepreneur {
            transform: rotateY(-180deg);
            height: 220px;
        }
        
        .flip-card-front-entrepreneur, .flip-card-back-entrepreneur {
            /*position: absolute;*/
            width: 90%;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        
        .flip-card-front-entrepreneur {
            background-color: var(--whitebg);
            color: black;
        }
        
        .flip-card-back-entrepreneur {
            background-color: var(--Jacketbrown);
            color: var(--darkerwhite);
            transform: rotateY(-180deg);
        }    

}

/*Styles for regular screens*/

@media (max-width: 350px) {
    
}


    
        


