* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --whitebg: #FEFBF6;
    --purple: #A66CFF;
    --darkerwhite: #F9F2ED;
}

body {
    width: fit-content;
    height: max-content;
    background-color: var(--whitebg);
}

a {
    text-decoration: none;
    color: black;
}

.container-everything {
    height: fit-content; 
    background-color: var(--darkerwhite);
    border-radius: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    display: flex;
    justify-content:center ;
    gap:5%;
    padding: 2%;
    position: fixed;
    width: 60%;
    background-color: var(--darkerwhite) ;
}

#Hi {
    display: flex;
    justify-content: center;
    gap: 1%;  
    padding-top: 6%; 

}
    .selfie {
        justify-content: center;
        display: flex;
        /*width: 50%;*/
        height: 441px;
    }

        .pic {
          
        }


    .worktitleandintroandsocial {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        width: 30%;
        text-align: center;
    }
    
        .worktitleandintroandsocial .worktitle {
            padding-top: 10%;

        }

        .worktitleandintroandsocial .introduction {
            padding-top: 3%;
            width: 50%;
        }

        .worktitleandintroandsocial .socialmedia {
            padding-top: 3%;
            display: flex;
            gap: 10%;
            align-content: center;
            width: 50%;
            
        }

        .worktitleandintroandsocial .contactmebuttons {
            padding-top: 3%;
            display: flex;
            justify-content: center;
            gap: 3%;
        }


#Background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;  
    padding-top: 3%; 
    text-align: center;
}

    #Background > h2 {
        
    }
    
    .backgroundtext {
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 1%;
    } 

#Experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5%;  
    padding-top: 3%; 
    text-align: center;
}


#Other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;  
    padding-top: 3%; 
    text-align: center;
}

    .theotherjobs {
        display: flex;
        flex-direction: row;
        gap: 5%;
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 2%;
    }

        .loaalss {
            padding-top: 1%;
            width: 30%;
        }

        .gototruckers {
            padding-top: 1%;
            width: 30%;
        }

        .entrepreneur {
            padding-top: 1%;
            width: 30%;
        }

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;  
    padding-top: 3%; 
    text-align: center;
    padding-bottom: 5%;
}

    .contactmeicons {
        display: flex;
        justify-content: center;
        gap: 5%;
        padding-top: 2%;
    }

    
        


